<div id='blogContainer' class="card">
    <h2 class="card-header"> {{blog.title}}</h2>
    <p class='blog-subheader'>Written By: {{blog.user.username}} on {{format_date blog.createdAt}}</p>
    <div class="card-body">
        <p class="card-text">{{blog.text}}</p>
    </div>
    <h3 class='card-header comment-header'>Comments:</h3>
    <div class="card-body">
        {{#each blog.comments as |comment|}}
        <div class="card-text comment-text">
            "{{comment.text}}" - {{comment.user.username}}
        </div>
        {{/each}}
        </br>
        <div class="input-group mb-3">
            <input id="new-comment" type="text" class="form-control" placeholder="your comment here..." aria-label="Example text with button addon"
                aria-describedby="button-addon1">
            <button id='submit-comment-btn' class="btn btn-primary btn-outline-secondary" type="button" id="button-addon1">Add comment</button>

        </div>
    </div>
</div>

<script src="/js/blog.js"></script>